<!doctype html>
<html lang="en">
<head>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hoisu C&R</title>

    {% load static %}

    <link rel="icon" type="image/png" href="{% static 'app/images/HoisuC&R.png' %}">

    {% block css %}
    {% endblock %}
    <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    {% load pwa %}

    {% progressive_web_app_meta %}

</head>
</head>
<body>
{% load crispy_forms_tags %}
    <section class="cont">
        <div class="login-form">
            <form method="POST" class="form">
                {% csrf_token %}
                    <h2 class="form-title"> Inicia sesión </h2>
                    {{ form }}
                    {% comment %}

                        <label class="form-control-label" for="usernames" >
                            <h2 class="title-label">Nombre de usuario</h2>
                        </label>
                        <input type="text" id="usernames" name="usernames" required class="input-field">
                        <label class="form-control-label" for=password class="title-label">
                            <h2 class="title-label">Contraseña</h2>
                        </label>
                        <input type="password" id="password" name="password" required class="input-field">

                    {% endcomment %}
                    <input type="submit" value="Iniciar sesión" class="btn-login">
                        <div class="parrafos">
                            <p>¿No tienes una Cuenta? <a style="text-decoration: none; color: #AC0202; font-size: 1.2rem; width: 60%;" href="{% url 'registrar' %}">
                                    Regístrate </a></p>
                        </div>
            </form>
        </div>
    </section>
</body>
</html>