

    {% load static %}

    {% load crispy_forms_tags %}

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
    {% endblock css %}


    {% block js %}
        <script src="{% static 'app/js/register.js' %}"></script>
    {% endblock js %}

        <section class="form_wrap">

            <form method="post" class="formulario" action="">
            {% csrf_token %}

                <h2>Registrate</h2>

                <div class="user_info">

                    {{ form }}

                    {% comment %}
                        <label for="usernames">Nombre de usuario*</label>
                        <input type="text" id="usernames" name="usernames" required>

                        <label for="names">Nombres</label>
                        <input type="text" id="names" name="names">

                        <label for="email">Correo Electronico*</label>
                        <input type="email" id="email" name="email" required>

                        <label for="password1"><span class="fas fa-unlock-alt"></span>Contraseña*</label>
                        <input type="password" id="password1" name="password1" required>

                        <label for="password2">Confirmar contraseña*</label>
                        <input type="password" id="password2" name="password2" required>
                    {% endcomment %}

                    <input type="submit" value="Registrarse" id="btnSend">

                </div>

                <div class="parrafos">
                    <p>Al registrarte, aceptas nuestras Condiciones de uso y Politica de privacidad.</p>
                    <p>¿Ya tienes una Cuenta? <a href="{% url 'login' %}"><span class="fas fa-hand-point-right"></span>
                            Inicia Sesión </a></p>
                </div>

            </form>

        </section>
