<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hoisu C&R</title>

    {% load static %}

    <link rel="icon" type="image/png" href="{% static 'app/images/HoisuC&R.png' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    {% block css %}
    {% endblock %}
    <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />

    <link rel="stylesheet" type="text/css" href="{% static 'css/restaurant-list.css' %}">


    {% load pwa %}

    {% progressive_web_app_meta %}

</head>
<body>
<!--- block buffet --->
    <h2 style="text-align:center; color: #AC0202; font-size: 2rem;">Restaurantes tipo Buffet</h2>
   <main style="margin: 3rem;">
        <section class="thumbSection">
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            {% for r in restaurant %}
                            {% if r.type == 'Buffet' %}
                            <div class="swiper-slide" style="width: 20rem; height: 18rem; background-color: #fff; margin: 1rem; border-radius: 4px;" >
                                <a class="thumbTile" href="/restaurante/{{ r.slug }}">

                                    {% if r.principal_image %}
                                    <img class="thumbTile__image"
                                        src="{{ r.principal_image.url }}"
                                        alt="{{ r.name }}" style="width: 100%; height: 16rem; object-fit: cover; ">
                                    {% else %}
                                    <img class="thumbTile__image"
                                        src="https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        alt="{{ r.name }}" style="width: 100%; height: 16rem; object-fit: cover;">
                                    {% endif %}
                                    <h2 style="text-align: center; text-decoration: none; color: #AC0202;">{{ r.name }}</h2>
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>

            </div>
        </section>
    </main>
<!--- end block buffet -->
<!--- block gourmet --->
    <main>
        <section class="thumbSection">
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            {% for r in restaurant %}
                            {% if r.type == 'Gourmet' %}
                            <div class="swiper-slide" style="width: 20rem; height: 18rem; background-color: #AC0202; margin: 1rem; border-radius: 4px;" >
                                <a class="thumbTile" href="/restaurante/{{ r.slug }}">

                                    {% if r.principal_image %}
                                    <img class="thumbTile__image"
                                        src="{{ r.principal_image.url }}"
                                        alt="{{ r.name }}" style="width: 100%; height: 16rem; object-fit: cover; ">
                                    {% else %}
                                    <img class="thumbTile__image"
                                        src="https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        alt="{{ r.name }}" style="width: 100%; height: 16rem; object-fit: cover;">
                                    {% endif %}
                                    <h2 style="text-align: center; text-decoration: none; color: white;">{{ r.name }}</h2>
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>

            </div>
        </section>
    </main>
<!--- end block gourmet -->

<!--- block Comida rapida --->
    <main>
        <section class="thumbSection">
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            {% for r in restaurant %}
                            {% if r.type == 'Comida rapida' %}
                            <div class="swiper-slide" style="width: 20rem; height: 16rem; " >
                                <a class="thumbTile" href="/restaurante/{{ r.slug }}">
                                    {% if r.principal_image %}
                                    <img class="thumbTile__image"
                                        src="{{ r.principal_image.url }}"
                                        alt="{{ r.name }}" style="width: 20rem; height: 16rem; object-fit: cover; ">
                                    {% else %}
                                    <img class="thumbTile__image"
                                        src="https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        alt="{{ r.name }}" style="width: 20rem; height: 16rem; object-fit: cover;">
                                    {% endif %}
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>

            </div>
        </section>
    </main>
<!--- end block comida rapida -->

<!-- block De autor --->
<main>
        <section class="thumbSection">
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            {% for r in restaurant %}
                            {% if r.type == 'De autor' %}
                            <div class="swiper-slide" style="width: 20rem; height: 18rem; background-color: #AC0202; margin: 1rem; border-radius: 4px;" >
                                <a class="thumbTile" href="/restaurante/{{ r.slug }}">

                                    {% if r.principal_image %}
                                    <img class="thumbTile__image"
                                        src="{{ r.principal_image.url }}"
                                        alt="{{ r.name }}" style="width: 100%; height: 16rem; object-fit: cover; ">
                                    {% else %}
                                    <img class="thumbTile__image"
                                        src="https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        alt="{{ r.name }}" style="width: 100%; height: 16rem; object-fit: cover;">
                                    {% endif %}
                                    <h2 style="text-align: center; text-decoration: none; color: white;">{{ r.name }}</h2>
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>

            </div>
        </section>
    </main>
<!-- End block de autor -->

<!--- block temático --->
<main>
        <section class="thumbSection">
            <div class="thumbTiles swiper-container">
                <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            {% for r in restaurant %}
                            {% if r.type == 'Tematico' %}
                            <div class="swiper-slide" style="width: 20rem; height: 18rem; background-color: #AC0202; margin: 1rem; border-radius: 4px;" >
                                <a class="thumbTile" href="/restaurante/{{ r.slug }}">

                                    {% if r.principal_image %}
                                    <img class="thumbTile__image"
                                        src="{{ r.principal_image.url }}"
                                        alt="{{ r.name }}" style="width: 100%; height: 16rem; object-fit: cover; ">
                                    {% else %}
                                    <img class="thumbTile__image"
                                        src="https://images.pexels.com/photos/67468/pexels-photo-67468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        alt="{{ r.name }}" style="width: 100%; height: 16rem; object-fit: cover;">
                                    {% endif %}
                                    <h2 style="text-align: center; text-decoration: none; color: white;">{{ r.name }}</h2>
                                </a>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>

            </div>
        </section>
    </main>
<!-- end block temático --->
    <script>
        var mySwiper = new Swiper('.swiper-container', {
            // Optional parameters
            spaceBetween: 5,
            slidesPerView: 2,
            loop: true,
            freeMode: true,
            loopAdditionalSlides: 5,
            speed: 500,
            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // when window width is >= 640px
                640: {
                    slidesPerView: 5,
                    slidesPerGroup: 5,
                    freeMode: false
                }
            }
        })
    </script>
</body>
</html>